build*/
deploy
kas
meta-cip-sr-common
meta-cip-sr-solidsense/mender-cert
meta-debian
meta-java
meta-iot-cloud
meta-mender
meta-openembedded
meta-readonly-rootfs-overlay
meta-virtualization
poky
*.swo
*.swp
